<ion-view title="About">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/xHv9QRMOQ26rgtGQ80QO_Conference Call-100.png" width="20%" height="auto">
        </div>
        <div>
            <p>Bacon ipsum dolor amet reprehenderit tongue excepteur, ut adipisicing bresaola ground round id. Doner nisi venison hamburger corned beef, alcatra fatback. Tenderloin veniam drumstick tempor laboris ham hock tri-tip swine pastrami reprehenderit
                pork belly magna quis. Dolore frankfurter pork chop, veniam brisket consequat labore flank capicola. Jowl frankfurter short ribs tri-tip, ut venison deserunt bacon sint commodo occaecat id.</p>
        </div>
    </ion-content>
</ion-view>