<ion-view title="Favorites">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Sharepoint@PwC</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/0fxKzraQZmW7iKifGccT_Conference Call-100.png" width="10%" height="auto">
                </div>
                <div>
                    <p>
                        <strong>Presenter</strong>: Sven Knispel</p>

                    <p>
                        <strong>Room</strong>: Room A</p>
                </div>
                <form class="list"></form>
                <a ui-sref="menu.map" id="favorites-button1" class="button button-stable button-small icon ion-android-map"></a>
                <button id="favorites-button2" class="button button-stable button-small icon ion-android-delete"></button>
                <button id="favorites-button18" class="button button-stable button-small icon ion-android-clipboard"></button>
                <button id="favorites-button19" class="button button-stable button-small icon ion-android-checkmark-circle"></button>
                <a ui-sref="menu.rateSession" id="favorites-button20" class="button button-stable button-small icon ion-heart"></a>
                <a ui-sref="menu.stream" id="favorites-button21" class="button button-stable button-small icon ion-chatbubble"></a>
            </div>
            <div class="item item-divider">12:00</div>
        </div>
        <div class="list card">
            <div class="item item-divider">Machine Learning</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/0fxKzraQZmW7iKifGccT_Conference Call-100.png" width="10%" height="auto">
                </div>
                <div>
                    <p>
                        <strong>Presenter</strong>: Kay Brock</p>

                    <p>
                        <strong>Room</strong>: Room B</p>
                </div>
                <form class="list">
                    <ion-toggle toggle-class="toggle-positive" ng-checked="true" name="Favorite">Fav.</ion-toggle>
                </form>
            </div>
            <div class="item item-divider">13:00</div>
        </div>
    </ion-content>
</ion-view>