<ion-view title="Session">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Sharepoint@PwC</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/2j6EdxkGREGyLdaXfEto_Conference Call-100.png" width="10%" height="auto">
                </div>
                <div>
                    <p>
                        <strong>Presenter</strong>: Sven Knispel</p>

                    <p>
                        <strong>Room</strong>: Room A</p>
                </div>
                <form class="list"></form>
                <button id="session-button3" class="button button-stable button-small icon-left ion-android-bookmark">Bookmark</button>
                <button id="session-button9" class="button button-stable button-small icon-left ion-android-clipboard">Details</button>
            </div>
            <div class="item item-divider">12:00</div>
        </div>
        <div class="list card">
            <div class="item item-divider">Machine Learning</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/2j6EdxkGREGyLdaXfEto_Conference Call-100.png" width="10%" height="auto">
                </div>
                <div>
                    <p>
                        <strong>Presenter</strong>: Kay Brock</p>

                    <p>
                        <strong>Room</strong>: Room B</p>
                </div>
                <form class="list"></form>
                <button id="session-button4" class="button button-stable button-small icon-left ion-android-bookmark">Bookmark</button>
                <button id="session-button13" class="button button-stable button-small icon-left ion-android-clipboard">Details</button>
            </div>
            <div class="item item-divider">12:00</div>
        </div>
        <div class="list card">
            <div class="item item-divider">Sharepoint@PwC</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/2j6EdxkGREGyLdaXfEto_Conference Call-100.png" width="10%" height="auto">
                </div>
                <div>
                    <p>
                        <strong>Presenter</strong>: Sven Knispel</p>

                    <p>
                        <strong>Room</strong>: Room A</p>
                </div>
                <form class="list"></form>
                <button id="session-button5" class="button button-stable button-small icon-left ion-android-bookmark">Bookmark</button>
                <button id="session-button14" class="button button-stable button-small icon-left ion-android-clipboard">Details</button>
            </div>
            <div class="item item-divider">13:00</div>
        </div>
        <div class="list card">
            <div class="item item-divider">Machine Learning</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/2j6EdxkGREGyLdaXfEto_Conference Call-100.png" width="10%" height="auto">
                </div>
                <div>
                    <p>
                        <strong>Presenter</strong>: Kay Brock</p>

                    <p>
                        <strong>Room</strong>: Room B</p>
                </div>
                <form class="list"></form>
                <button id="session-button6" class="button button-stable button-small icon-left ion-android-bookmark">Bookmark</button>
                <button id="session-button15" class="button button-stable button-small icon-left ion-android-clipboard">Details</button>
            </div>
            <div class="item item-divider">13:00</div>
        </div>
        <div class="list card">
            <div class="item item-divider">Sharepoint@PwC</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/2j6EdxkGREGyLdaXfEto_Conference Call-100.png" width="10%" height="auto">
                </div>
                <div>
                    <p>
                        <strong>Presenter</strong>: Sven Knispel</p>

                    <p>
                        <strong>Room</strong>: Room A</p>
                </div>
                <form class="list"></form>
                <button id="session-button7" class="button button-stable button-small icon-left ion-android-bookmark">Bookmark</button>
                <button id="session-button16" class="button button-stable button-small icon-left ion-android-clipboard">Details</button>
            </div>
            <div class="item item-divider">14:00</div>
        </div>
        <div class="list card">
            <div class="item item-divider">Machine Learning</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/2j6EdxkGREGyLdaXfEto_Conference Call-100.png" width="10%" height="auto">
                </div>
                <div>
                    <p>
                        <strong>Presenter</strong>: Kay Brock</p>

                    <p>
                        <strong>Room</strong>: Room B</p>
                </div>
                <form class="list"></form>
                <button id="session-button8" class="button button-stable button-small icon-left ion-android-bookmark">Bookmark</button>
                <button id="session-button17" class="button button-stable button-small icon-left ion-android-clipboard">Details</button>
            </div>
            <div class="item item-divider">14:00</div>
        </div>
    </ion-content>
</ion-view>